[Desktop Entry]
Encoding=UTF-8
GenericName=Fabric Manager GUI
Name=Intel Omni-Path Architecture Fabric Manager Graphical User Interface
Exec=/usr/bin/opa-fmgui
Icon=fmgui
Terminal=false
Type=Application
